# DS Classification Project: SMS Spam Classifier

In [1]:
# Data Set: https://www.kaggle.com/datasets/uciml/sms-spam-collection-dataset

In [2]:
# Importing Libraries

import numpy as np
import pandas as pd

In [30]:
# Reading the File

df = pd.read_csv("DataSet\\spam.csv", encoding='ISO-8859-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [23]:
# Checking teh shape

df.shape

(5572, 5)

## Data Cleaning

In [24]:
# Checking the coulumns and Null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [31]:
# Dropping the irrelevant columns that are Null

df.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1, inplace=True) 
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [33]:
# Renaming the columns

df.rename(columns={'v1' : 'label', 'v2' : 'text'}, inplace=True)
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [37]:
# Changing the label column text into numbers

from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()

In [41]:
# ham -> 0,  Spam -> 1

df['label'] = en.fit_transform(df['label'])
df.head()

   label                                               text
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [45]:
# Checking the Missing values

df.isnull().sum()

label    0
text     0
dtype: int64

In [48]:
# Checking the Duplicate Values

df.duplicated().sum()

403

In [49]:
# removing the Duplicate Values

df = df.drop_duplicates(keep='first')
df.duplicated().sum()

0

In [50]:
# Checking the shape of Data-frame

df.shape

(5169, 2)

## EDA